In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Nashville Housing.csv')

#### Q1.. Does 'Acreage' affect the 'sale price' of the property??(WHO)
#### Q2.. What is the most expensive property and why is it so??
#### Q3.. How many properties were sold each year??
#### Q4.. Was there a circumstance when the 'total price' is greater than the  'sale price' of a property??
#### Q5.. What is the relationship between 'acreage' and 'land value'??
#### Q6.. What is the difference between 'the year the property was built ' and 'the year the property was sold'??
#### Q7.. What is the relationship between 'bedrooms', 'fullbath' and 'halfbath'??

In [3]:
data.head(60)

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE","April 9, 2013",240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.30,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE","June 10, 2014",366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",3.50,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE","September 26, 2016",435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",2.90,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE","January 29, 2016",255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",2.60,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE","October 10, 2014",278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",2.00,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0
5,18367,007 00 0 151.00,SINGLE FAMILY,"1821 FOX CHASE DR, GOODLETTSVILLE","July 16, 2014",267000,20140718-0063802,No,"FIELDS, KAREN L. & BRENT A.","1821 FOX CHASE DR, GOODLETTSVILLE, TN",2.00,GENERAL SERVICES DISTRICT,50000.0,190400.0,259800.0,1980.0,3.0,3.0,0.0
6,19804,007 14 0 002.00,SINGLE FAMILY,"2005 SADIE LN, GOODLETTSVILLE","August 28, 2014",171000,20140903-0080214,No,"HINTON, MICHAEL R. & CYNTHIA M. MOORE","2005 SADIE LN, GOODLETTSVILLE, TN",1.03,GENERAL SERVICES DISTRICT,40000.0,137900.0,177900.0,1976.0,3.0,2.0,0.0
7,54583,007 14 0 024.00,SINGLE FAMILY,"1917 GRACELAND DR, GOODLETTSVILLE","September 27, 2016",262000,20161005-0105441,No,"BAILOR, DARRELL & TAMMY","1917 GRACELAND DR, GOODLETTSVILLE, TN",1.03,GENERAL SERVICES DISTRICT,40000.0,157900.0,197900.0,1978.0,3.0,2.0,0.0
8,36500,007 14 0 026.00,SINGLE FAMILY,"1428 SPRINGFIELD HWY, GOODLETTSVILLE","August 14, 2015",285000,20150819-0083440,No,"ROBERTS, MISTY L. & ROBERT M.","1428 SPRINGFIELD HWY, GOODLETTSVILLE, TN",1.67,GENERAL SERVICES DISTRICT,45400.0,176900.0,222300.0,2000.0,3.0,2.0,1.0
9,19805,007 14 0 034.00,SINGLE FAMILY,"1420 SPRINGFIELD HWY, GOODLETTSVILLE","August 29, 2014",340000,20140909-0082348,No,"LEE, JEFFREY & NANCY","1420 SPRINGFIELD HWY, GOODLETTSVILLE, TN",1.30,GENERAL SERVICES DISTRICT,40000.0,179600.0,219600.0,1995.0,5.0,3.0,0.0
10,29467,007 14 0A 024.00,SINGLE FAMILY,"2209 KAYLA DR, GOODLETTSVILLE","April 14, 2015",425000,20150415-0033442,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,10754,007 14 0A 027.00,SINGLE FAMILY,"109 BAILEY VIEW CT, GOODLETTSVILLE","December 12, 2013",585000,20131227-0130352,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,34751,007 14 0B 010.00,RESIDENTIAL CONDO,"1900 TINNIN RD, GOODLETTSVILLE","July 13, 2015",190000,20150717-0069947,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,4512,007 15 0 002.00,SINGLE FAMILY,"629 GAYLEMORE DR, GOODLETTSVILLE","June 7, 2013",189900,20130612-0059715,No,"URRUTIA, CARLOS MIGUEL & REBECCA","629 GAYLEMORE DR, GOODLETTSVILLE, TN",1.07,GENERAL SERVICES DISTRICT,40000.0,203600.0,243600.0,2006.0,4.0,4.0,0.0
14,16919,007 15 0 003.00,SINGLE FAMILY,"633 GAYLEMORE DR, GOODLETTSVILLE","June 30, 2014",157500,20140702-0058050,No,"SALDANA, ALMA J. & EDWARD A., II","633 GAYLEMORE DR, GOODLETTSVILLE, TN",1.03,GENERAL SERVICES DISTRICT,40000.0,115400.0,155400.0,1974.0,4.0,2.0,0.0
15,16920,007 15 0 004.00,SINGLE FAMILY,"637 GAYLEMORE DR, GOODLETTSVILLE","June 30, 2014",247400,20140630-0057267,No,"MCKINNEY, ROBERT K. & BETH E.","637 GAYLEMORE DR, GOODLETTSVILLE, TN",1.03,GENERAL SERVICES DISTRICT,40000.0,180300.0,234000.0,1974.0,3.0,3.0,0.0
16,51967,007 15 0 008.00,SINGLE FAMILY,"1976 SADIE LN, GOODLETTSVILLE","July 15, 2016",211500,20160720-0074793,No,"MILLER, JAMES L. & EILEEN T.","2001 SADIE LN, GOODLETTSVILLE, TN",1.08,GENERAL SERVICES DISTRICT,40000.0,129200.0,169200.0,1974.0,4.0,2.0,0.0
17,28155,007 15 0 014.00,SINGLE FAMILY,"644 GAYLEMORE DR, GOODLETTSVILLE","March 31, 2015",185900,20150402-0029022,No,"SANDAGE, LEAH S.","644 GAYLEMORE DR, GOODLETTSVILLE, TN",1.03,GENERAL SERVICES DISTRICT,40000.0,127400.0,167400.0,1974.0,3.0,2.0,0.0
18,8899,007 15 0 020.00,SINGLE FAMILY,"1921 NORMERLE DR, GOODLETTSVILLE","October 11, 2013",349900,20131018-0109102,No,"VAUGHN, JOHN","1921 NORMERLE DR, GOODLETTSVILLE, TN",1.03,GENERAL SERVICES DISTRICT,40000.0,286500.0,346300.0,1974.0,3.0,3.0,1.0
19,4513,007 15 0 031.00,SINGLE FAMILY,"1916 NORMERLE DR, GOODLETTSVILLE","June 28, 2013",192500,20130711-0071698,No,"PARKS, KRISTEN LEIGH & WILLIAMS, PAMELA KAY","1916 NORMERLE DR, GOODLETTSVILLE, TN",1.00,GENERAL SERVICES DISTRICT,40000.0,130400.0,170400.0,1986.0,3.0,2.0,1.0
20,27161,007 15 0 044.00,SINGLE FAMILY,"2050 GRACELAND DR, GOODLETTSVILLE","February 10, 2015",279900,20150212-0012993,No,"ANGELL, MARGO G. & CHARLES D.","2050 GRACELAND DR, GOODLETTSVILLE, TN",1.28,GENERAL SERVICES DISTRICT,40000.0,238900.0,278900.0,1985.0,3.0,3.0,0.0
21,46859,007 15 0 048.00,SINGLE FAMILY,"2034 GRACELAND DR, GOODLETTSVILLE","April 14, 2016",379900,20160418-0036715,No,"DOSS, GLEN KEVIN & ANGELA DAWN","2034 GRACELAND DR, GOODLETTSVILLE, TN",2.61,GENERAL SERVICES DISTRICT,52900.0,330700.0,383600.0,1997.0,5.0,4.0,1.0
22,5802,007 15 0 052.00,SINGLE FAMILY,"811 BENTON CT, GOODLETTSVILLE","July 8, 2013",192500,20130712-0072376,No,"BRAKE, MICHAEL E. & ERIN L.","811 BENTON CT, GOODLETTSVILLE, TN",1.10,GENERAL SERVICES DISTRICT,40000.0,158000.0,198000.0,1989.0,3.0,3.0,0.0
23,36501,010 00 0 045.00,SINGLE FAMILY,"331 VIEW RIDGE DR, GOODLETTSVILLE","August 31, 2015",193500,20150903-0090036,No,"BENJAMIN, DAVID AND LINDA REVOCABLE LIVING TRU...","331 VIEW RIDGE DR, GOODLETTSVILLE, TN",1.69,GENERAL SERVICES DISTRICT,35100.0,116600.0,151700.0,1988.0,3.0,2.0,0.0
24,8900,010 00 0 052.00,SINGLE FAMILY,"361 VIEW RIDGE DR, GOODLETTSVILLE","October 21, 2013",172400,20131030-0112723,No,"WILLIAMS, JOSEPH D. & AUDREY","361 VIEW RIDGE DR, GOODLETTSVILLE, TN",2.50,GENERAL SERVICES DISTRICT,39800.0,112800.0,152600.0,1982.0,3.0,2.0,0.0
25,48716,011 15 0A 004.00,SINGLE FAMILY,"119 LAKESIDE DR, GOODLETTSVILLE","May 31, 2016",435000,20160602-0055827,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26215,012 00 0 082.00,SINGLE FAMILY,"8154 OLD SPRINGFIELD PIKE, GOODLETTSVILLE","January 26, 2015",162500,20150127-0007529,No,"SMITH, JAMES M., JR.","8154 OLD SPRINGFIELD PIKE, GOODLETTSVILLE, TN",2.31,GENERAL SERVICES DISTRICT,50000.0,119300.0,179200.0,1986.0,2.0,1.0,1.0
27,19806,012 00 0 083.00,SINGLE FAMILY,"8158 OLD SPRINGFIELD PIKE, GOODLETTSVILLE","August 1, 2014",235000,20140808-0071505,No,"HOWARD, MARK & LUANNE","8158 OLD SPRINGFIELD PIKE, GOODLETTSVILLE, TN",2.31,GENERAL SERVICES DISTRICT,50000.0,134800.0,232300.0,1983.0,3.0,2.0,0.0
28,8901,012 00 0 109.00,SINGLE FAMILY,"8136 OLD SPRINGFIELD PIKE, GOODLETTSVILLE","October 11, 2013",225000,20131022-0110073,No,"DAWSON, KENNETH D. & NATALIE","8136 OLD SPRINGFIELD PIKE, GOODLETTSVILLE, TN",3.71,GENERAL SERVICES DISTRICT,66800.0,140300.0,207100.0,1987.0,3.0,2.0,0.0
29,36502,012 02 0 011.00,SINGLE FAMILY,"1334 SPRINGFIELD HWY, GOODLETTSVILLE","August 27, 2015",271000,20150901-0088477,No,"NAUERT, MARK II & SARAH","1334 SPRINGFIELD HWY, GOODLETTSVILLE, TN",1.75,GENERAL SERVICES DISTRICT,46000.0,153700.0,220900.0,1979.0,3.0,3.0,0.0
30,13354,012 02 0 019.00,SINGLE FAMILY,"1412 SPRINGFIELD HWY, GOODLETTSVILLE","March 18, 2014",359900,20140321-0023358,No,"BATSON, JEFFERY L.","1412 SPRINGFIELD HWY, GOODLETTSVILLE, TN",1.17,GENERAL SERVICES DISTRICT,40000.0,333300.0,373300.0,2000.0,4.0,4.0,1.0
31,45285,012 03 0 006.00,SINGLE FAMILY,"612 GAYLEMORE DR, GOODLETTSVILLE","March 11, 2016",276500,20160317-0025384,No,"ADAMS, ALEXANDER J. & JENNIFER","612 GAYLEMORE DR, GOODLETTSVILLE, TN",1.01,GENERAL SERVICES DISTRICT,40000.0,169200.0,209200.0,1973.0,3.0,3.0,0.0
32,53116,012 03 0 009.00,SINGLE FAMILY,"2013 SUNNYSLOPE LN, GOODLETTSVILLE","August 29, 2016",271500,20160831-0091434,No,"ARNOLD, RACHEL & SPARKMAN, JIMMY & SANDRA","2013 SUNNYSLOPE LN, GOODLETTSVILLE, TN",1.03,GENERAL SERVICES DISTRICT,40000.0,133300.0,173300.0,1974.0,3.0,2.0,0.0
33,15542,012 03 0 012.00,SINGLE FAMILY,"600 SUNNYSLOPE CT, GOODLETTSVILLE","May 14, 2014",205900,20140529-0045974,No,"SKAGGS, BROCK A. & DENISE","600 SUNNYSLOPE CT, GOODLETTSVILLE, TN",1.07,GENERAL SERVICES DISTRICT,40000.0,148200.0,188200.0,1973.0,3.0,3.0,0.0
34,54584,012 03 0 013.00,SINGLE FAMILY,"604 SUNNYSLOPE CT, GOODLETTSVILLE","September 23, 2016",228000,20160927-0101636,No,"RED THUNDER, LLC","604 SUNNYSLOPE CT, GOODLETTSVILLE, TN",1.01,GENERAL SERVICES DISTRICT,40000.0,143300.0,183300.0,1973.0,3.0,2.0,0.0
35,1207,012 03 0 018.00,SINGLE FAMILY,"609 SUNNYSLOPE CT, GOODLETTSVILLE","March 15, 2013",160000,20130319-0026986,No,"O'CONNELL, JAMES L. & VANESSA R.","609 SUNNYSLOPE CT, GOODLETTSVILLE, TN",1.07,GENERAL SERVICES DISTRICT,40000.0,104900.0,153400.0,1973.0,3.0,3.0,0.0
36,667,012 03 0 023.00,SINGLE FAMILY,"621 GAYLEMORE DR, GOODLETTSVILLE","February 8, 2013",129900,20130215-0015687,No,"TUDERS, KEVIN","621 GAYLEMORE DR, GOODLETTSVILLE, TN",1.05,GENERAL SERVICES DISTRICT,40000.0,138900.0,205600.0,1974.0,3.0,1.0,1.0
37,34752,012 03 0 025.00,SINGLE FAMILY,"613 GAYLEMORE DR, GOODLETTSVILLE","July 17, 2015",230000,20150721-0071254,No,"BOISE, LINDSEY J. & BURDEN, GINGER E.","613 GAYLEMORE DR, GOODLETTSVILLE, TN",0.98,GENERAL SERVICES DISTRICT,40000.0,126400.0,181100.0,1974.0,3.0,2.0,0.0
38,39426,015 14 0 011.00,SINGLE FAMILY,"3128 UNION HILL RD, JOELTON","October 1, 2015",90000,20151006-0101964,No,"IBARRA-ROMERO, GREGORIO & REGINO, EVEIDA ACIAD...","3128 UNION HILL RD, JOELTON, TN",0.93,GENERAL SERVICES DISTRICT,30000.0,64100.0,95700.0,1964.0,3.0,1.0,0.0
39,48717,015 14 0 045.00,SINGLE FAMILY,"7515 GARY RD, JOELTON","May 27, 2016",160000,20160606-0056507,No,"PORTER, BRIAN KELLY","7515 GARY RD, JOELTON, TN",1.06,GENERAL SERVICES DISTRICT,30000.0,148700.0,180000.0,1967.0,3.0,2.0,0.0
40,53117,015 14 0 053.00,SINGLE FAMILY,"7620 GERALD DR, JOELTON","August 8, 2016",195900,20160810-0083381,No,"TEMPLE, LORENE","7620 GERALD DR, JOELTON, TN",1.07,GENERAL SERVICES DISTRICT,30000.0,94600.0,150500.0,1973.0,3.0,1.0,0.0
41,39427,015 14 0 054.00,SINGLE FAMILY,"7624 GERALD DR, JOELTON","October 9, 2015",122431,20151013-0103951,No,"STEWART, DONNA D.","7624 GERALD DR, JOELTON, TN",1.07,GENERAL SERVICES DISTRICT,30000.0,97100.0,140700.0,1972.0,3.0,1.0,0.0
42,5803,015 14 0 055.00,SINGLE FAMILY,"7628 GERALD DR, JOELTON","July 12, 2013",119900,20130718-0074201,No,"PROULX, JENNIFER L. & JESSICA","7628 GERALD DR, JOELTON, TN",1.05,GENERAL SERVICES DISTRICT,30000.0,88600.0,119300.0,1973.0,3.0,1.0,0.0
43,6993,015 14 0 060.00,SINGLE FAMILY,"3113 MILLIKEN DR, JOELTON","August 20, 2013",145000,20130821-0088382,No,"SMITH, HOLLI NICHOLE","3113 MILLIKEN DR, JOELTON, TN",0.98,GENERAL SERVICES DISTRICT,30000.0,111200.0,141200.0,1996.0,3.0,2.0,0.0
44,43071,015 14 0 060.00,SINGLE FAMILY,"3113 MILLIKEN DR, JOELTON","January 15, 2016",160000,20160119-0004923,No,"SMITH, HOLLI NICHOLE","3113 MILLIKEN DR, JOELTON, TN",0.98,GENERAL SERVICES DISTRICT,30000.0,111200.0,141200.0,1996.0,3.0,2.0,0.0
45,45286,015 14 0 061.00,SINGLE FAMILY,"3117 MILLIKEN DR, JOELTON","March 18, 2016",169900,20160413-0035454,No,"DISMANG, JEREMY","3117 MILLIKEN DR, JOELTON, TN",0.98,GENERAL SERVICES DISTRICT,30000.0,115900.0,145900.0,1997.0,3.0,2.0,0.0
46,3267,015 14 0 071.00,SINGLE FAMILY,"3107 MARGIE DR, JOELTON","May 10, 2013",103500,20130513-0047997,No,"DOWNS, JESSICA","3107 MARGIE DR, JOELTON, TN",1.03,GENERAL SERVICES DISTRICT,30000.0,83000.0,113000.0,1972.0,3.0,1.0,0.0
47,34753,015 14 0 075.00,SINGLE FAMILY,"3124 MARGIE DR, JOELTON","July 31, 2015",184000,20150803-0076727,No,"MURRY, SHAWN","3124 MARGIE DR, JOELTON, TN",1.03,GENERAL SERVICES DISTRICT,30000.0,116100.0,146100.0,1972.0,4.0,2.0,0.0
48,39428,016 00 0 093.00,SINGLE FAMILY,"2466 UNION HILL RD, GOODLETTSVILLE","October 13, 2015",165000,20151014-0104536,No,"HARRISON, JASON C. & AMANDA D.","2466 UNION HILL RD, GOODLETTSVILLE, TN",2.00,GENERAL SERVICES DISTRICT,39800.0,134300.0,174100.0,1976.0,3.0,2.0,0.0
49,21298,016 00 0 110.00,SINGLE FAMILY,"7221 APPLE VIEW DR, GOODLETTSVILLE","September 24, 2014",290000,20141009-0093665,No,"MILLER, WILLIAM B. & RETA A.","7221 APPLE VIEW DR, GOODLETTSVILLE, TN",1.35,GENERAL SERVICES DISTRICT,35100.0,173300.0,240100.0,1993.0,3.0,2.0,0.0
50,34754,016 00 0 143.00,SINGLE FAMILY,"7104 LAMA TERRA DR, GOODLETTSVILLE","July 6, 2015",260000,20150708-0066261,No,"GIGEAR, DAVID & DESIREE","7104 LAMA TERRA DR, GOODLETTSVILLE, TN",1.14,GENERAL SERVICES DISTRICT,35100.0,147700.0,196200.0,1985.0,3.0,2.0,0.0
51,39429,016 00 0 184.00,SINGLE FAMILY,"7143 LAMA TERRA DR, GOODLETTSVILLE","October 9, 2015",200000,20151013-0103879,No,"MORELOCK, WALTER L. JR & LISA D.","7143 LAMA TERRA DR, GOODLETTSVILLE, TN",1.46,GENERAL SERVICES DISTRICT,35100.0,134500.0,169600.0,1993.0,3.0,3.0,0.0
52,5804,016 00 0 191.00,SINGLE FAMILY,"7175 LAMA TERRA DR, GOODLETTSVILLE","July 29, 2013",165000,20130729-0078604,No,"WALL, COREY D. & LAURA A.","7175 LAMA TERRA DR, GOODLETTSVILLE, TN",1.77,GENERAL SERVICES DISTRICT,35100.0,121400.0,156500.0,1988.0,3.0,3.0,0.0
53,34755,016 00 0 216.00,SINGLE FAMILY,"6912 RIDGERUNNER CT, GOODLETTSVILLE","July 10, 2015",230000,20150713-0067794,No,"SHRUM, AMANDA & HARTLEY, RYAN","6912 RIDGERUNNER CT, GOODLETTSVILLE, TN",0.94,GENERAL SERVICES DISTRICT,35100.0,144500.0,179600.0,1989.0,3.0,2.0,1.0
54,21299,018 00 0 041.00,SINGLE FAMILY,"334 MONCRIEF AVE, GOODLETTSVILLE","September 2, 2014",147000,20140908-0081941,No,"DAHLHAUSER, ANDREW FRANCIS","334 MONCRIEF AVE, GOODLETTSVILLE, TN",1.15,CITY OF GOODLETTSVILLE,30000.0,97900.0,131000.0,1959.0,3.0,1.0,0.0
55,8902,018 00 0 042.00,SINGLE FAMILY,"330 MONCRIEF AVE, GOODLETTSVILLE","October 25, 2013",154900,20131028-0111690,No,"BRANNING, OLIVER MACK & MICHELE M.","330 MONCRIEF AVE, GOODLETTSVILLE, TN",0.66,CITY OF GOODLETTSVILLE,28100.0,107700.0,140800.0,1948.0,3.0,1.0,0.0
56,4514,018 00 0 087.00,VACANT RURAL LAND,"0 BRICK CHURCH PIKE, GOODLETTSVILLE","June 28, 2013",250000,20130709-0070947,No,"BUCHANAN, DONALD W. & SANDRA R.","0 BRICK CHURCH PIKE, GOODLETTSVILLE, TN",8.13,CITY OF GOODLETTSVILLE,48800.0,0.0,48800.0,NaN,NaN,NaN,NaN
57,4515,018 00 0 096.00,VACANT RES LAND,"0 BRICK CHURCH PIKE, GOODLETTSVILLE","June 28, 2013",250000,20130709-0070947,No,"BUCHANAN, DONALD W. & SANDRA R.","0 BRICK CHURCH PIKE, GOODLETTSVILLE, TN",3.00,CITY OF GOODLETTSVILLE,45000.0,0.0,45000.0,NaN,NaN,NaN,NaN
58,4516,018 00 0 097.00,SINGLE FAMILY,"235 BRICK CHURCH PIKE, GOODLETTSVILLE","June 28, 2013",250000,20130709-0070947,No,"BUCHANAN, DONALD W. & SANDRA R.","235 BRICK CHURCH PIKE, GOODLETTSVILLE, TN",3.02,CITY OF GOODLETTSVILLE,45100.0,105800.0,150900.0,1984.0,4.0,3.0,0.0
59,50583,018 00 0 136.00,SINGLE FAMILY,"522 UTLEY DR, GOODLETTSVILLE","June 10, 2016",305000,20160614-0060196,No,"THEDE, ADAM S.","522 UTLEY DR, GOODLETTSVILLE, TN",1.15,CITY OF GOODLETTSVILLE,28100.0,260800.0,288900.0,1995.0,4.0,3.0,0.0

In [4]:
data.shape

(56477, 19)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56477 entries, 0 to 56476
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UniqueID         56477 non-null  int64
 1   ParcelID         56477 non-null  object
 2   LandUse          56477 non-null  object
 3   PropertyAddress  56448 non-null  object
 4   SaleDate         56477 non-null  object
 5   SalePrice        56477 non-null  object
 6   LegalReference   56477 non-null  object
 7   SoldAsVacant     56477 non-null  object
 8   OwnerName        25261 non-null  object
 9   OwnerAddress     26015 non-null  object
 10  Acreage          26015 non-null  float64
 11  TaxDistrict      26015 non-null  object
 12  LandValue        26015 non-null  float64
 13  BuildingValue    26015 non-null  float64
 14  TotalValue       26015 non-null  float64
 15  YearBuilt        24163 non-null  float64
 16  Bedrooms         24157 non-null  float64
 17  FullBath         24275 non-null  float64
 18  HalfBath         24144 non-null  float64
dtypes: float64(8), int64(1), object(10)
memory usage: 8.2+ MB

In [6]:
data.columns

Index(['UniqueID ', 'ParcelID', 'LandUse', 'PropertyAddress', 'SaleDate',
       'SalePrice', 'LegalReference', 'SoldAsVacant', 'OwnerName',
       'OwnerAddress', 'Acreage', 'TaxDistrict', 'LandValue', 'BuildingValue',
       'TotalValue', 'YearBuilt', 'Bedrooms', 'FullBath', 'HalfBath'],
      dtype='object')

In [7]:
house_sales= data[['UniqueID ','ParcelID','LandUse','PropertyAddress','SaleDate','SalePrice','LegalReference','SoldAsVacant']]
prop_detail = data[['OwnerName','OwnerAddress','Acreage','TaxDistrict','LandValue', 'BuildingValue',
       'TotalValue', 'YearBuilt', 'Bedrooms', 'FullBath', 'HalfBath']]

In [8]:
house_sales.isna().sum()

UniqueID            0
ParcelID            0
LandUse             0
PropertyAddress    29
SaleDate            0
SalePrice           0
LegalReference      0
SoldAsVacant        0
dtype: int64

In [9]:
house_sales.shape

(56477, 8)

In [10]:
house_sales[house_sales['PropertyAddress'].isnull()== True].head()

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant
159,43076,025 07 0 031.00,SINGLE FAMILY,NaN,"January 15, 2016",179900,20160120-0005776,No
223,39432,026 01 0 069.00,VACANT RESIDENTIAL LAND,NaN,"October 23, 2015",153000,20151028-0109602,No
246,45290,026 05 0 017.00,SINGLE FAMILY,NaN,"March 29, 2016",155000,20160330-0029941,No
305,53147,026 06 0A 038.00,RESIDENTIAL CONDO,NaN,"August 25, 2016",144900,20160831-0091567,No
531,43080,033 06 0 041.00,SINGLE FAMILY,NaN,"January 4, 2016",170000,20160107-0001526,No

In [11]:
prop_detail.isna().sum()

OwnerName        31216
OwnerAddress     30462
Acreage          30462
TaxDistrict      30462
LandValue        30462
BuildingValue    30462
TotalValue       30462
YearBuilt        32314
Bedrooms         32320
FullBath         32202
HalfBath         32333
dtype: int64

In [12]:
prop_detail[prop_detail['OwnerName'].isna()==True].head(20)

,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df = data[['PropertyAddress','LandUse','Bedrooms','FullBath','HalfBath','Acreage','LandValue','BuildingValue','TotalValue','SalePrice','SoldAsVacant','YearBuilt','SaleDate']]

In [14]:
df.head()

,PropertyAddress,LandUse,Bedrooms,FullBath,HalfBath,Acreage,LandValue,BuildingValue,TotalValue,SalePrice,SoldAsVacant,YearBuilt,SaleDate
0,"1808 FOX CHASE DR, GOODLETTSVILLE",SINGLE FAMILY,3.0,3.0,0.0,2.3,50000.0,168200.0,235700.0,240000,No,1986.0,"April 9, 2013"
1,"1832 FOX CHASE DR, GOODLETTSVILLE",SINGLE FAMILY,3.0,3.0,2.0,3.5,50000.0,264100.0,319000.0,366000,No,1998.0,"June 10, 2014"
2,"1864 FOX CHASE DR, GOODLETTSVILLE",SINGLE FAMILY,4.0,3.0,0.0,2.9,50000.0,216200.0,298000.0,435000,No,1987.0,"September 26, 2016"
3,"1853 FOX CHASE DR, GOODLETTSVILLE",SINGLE FAMILY,3.0,3.0,0.0,2.6,50000.0,147300.0,197300.0,255000,No,1985.0,"January 29, 2016"
4,"1829 FOX CHASE DR, GOODLETTSVILLE",SINGLE FAMILY,4.0,3.0,0.0,2.0,50000.0,152300.0,202300.0,278000,No,1984.0,"October 10, 2014"

## Convert YearBuilt and SaleDate to a datetime

In [15]:
df['YearBuilt'] = df['YearBuilt'].fillna(0)

C:\Users\Jessie Nae\AppData\Local\Temp\ipykernel_21724\1239092472.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['YearBuilt'] = df['YearBuilt'].fillna(0)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56477 entries, 0 to 56476
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PropertyAddress  56448 non-null  object
 1   LandUse          56477 non-null  object
 2   Bedrooms         24157 non-null  float64
 3   FullBath         24275 non-null  float64
 4   HalfBath         24144 non-null  float64
 5   Acreage          26015 non-null  float64
 6   LandValue        26015 non-null  float64
 7   BuildingValue    26015 non-null  float64
 8   TotalValue       26015 non-null  float64
 9   SalePrice        56477 non-null  object
 10  SoldAsVacant     56477 non-null  object
 11  YearBuilt        56477 non-null  float64
 12  SaleDate         56477 non-null  object
dtypes: float64(8), object(5)
memory usage: 5.6+ MB

In [17]:
df['YearBuilt'] = df['YearBuilt'].astype('int')

C:\Users\Jessie Nae\AppData\Local\Temp\ipykernel_21724\190402565.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['YearBuilt'] = df['YearBuilt'].astype('int')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56477 entries, 0 to 56476
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PropertyAddress  56448 non-null  object
 1   LandUse          56477 non-null  object
 2   Bedrooms         24157 non-null  float64
 3   FullBath         24275 non-null  float64
 4   HalfBath         24144 non-null  float64
 5   Acreage          26015 non-null  float64
 6   LandValue        26015 non-null  float64
 7   BuildingValue    26015 non-null  float64
 8   TotalValue       26015 non-null  float64
 9   SalePrice        56477 non-null  object
 10  SoldAsVacant     56477 non-null  object
 11  YearBuilt        56477 non-null  int32
 12  SaleDate         56477 non-null  object
dtypes: float64(7), int32(1), object(5)
memory usage: 5.4+ MB

In [20]:
df.head()

,PropertyAddress,LandUse,Bedrooms,FullBath,HalfBath,Acreage,LandValue,BuildingValue,TotalValue,SalePrice,SoldAsVacant,YearBuilt,SaleDate
0,"1808 FOX CHASE DR, GOODLETTSVILLE",SINGLE FAMILY,3.0,3.0,0.0,2.3,50000.0,168200.0,235700.0,240000,No,1986,"April 9, 2013"
1,"1832 FOX CHASE DR, GOODLETTSVILLE",SINGLE FAMILY,3.0,3.0,2.0,3.5,50000.0,264100.0,319000.0,366000,No,1998,"June 10, 2014"
2,"1864 FOX CHASE DR, GOODLETTSVILLE",SINGLE FAMILY,4.0,3.0,0.0,2.9,50000.0,216200.0,298000.0,435000,No,1987,"September 26, 2016"
3,"1853 FOX CHASE DR, GOODLETTSVILLE",SINGLE FAMILY,3.0,3.0,0.0,2.6,50000.0,147300.0,197300.0,255000,No,1985,"January 29, 2016"
4,"1829 FOX CHASE DR, GOODLETTSVILLE",SINGLE FAMILY,4.0,3.0,0.0,2.0,50000.0,152300.0,202300.0,278000,No,1984,"October 10, 2014"

In [21]:
df['SaleDate'] = pd.to_datetime(df['SaleDate']).dt.year

C:\Users\Jessie Nae\AppData\Local\Temp\ipykernel_21724\2640389723.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SaleDate'] = pd.to_datetime(df['SaleDate']).dt.year

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56477 entries, 0 to 56476
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PropertyAddress  56448 non-null  object
 1   LandUse          56477 non-null  object
 2   Bedrooms         24157 non-null  float64
 3   FullBath         24275 non-null  float64
 4   HalfBath         24144 non-null  float64
 5   Acreage          26015 non-null  float64
 6   LandValue        26015 non-null  float64
 7   BuildingValue    26015 non-null  float64
 8   TotalValue       26015 non-null  float64
 9   SalePrice        56477 non-null  object
 10  SoldAsVacant     56477 non-null  object
 11  YearBuilt        56477 non-null  int32
 12  SaleDate         56477 non-null  int64
dtypes: float64(7), int32(1), int64(1), object(4)
memory usage: 5.4+ MB

In [23]:
df.head()

,PropertyAddress,LandUse,Bedrooms,FullBath,HalfBath,Acreage,LandValue,BuildingValue,TotalValue,SalePrice,SoldAsVacant,YearBuilt,SaleDate
0,"1808 FOX CHASE DR, GOODLETTSVILLE",SINGLE FAMILY,3.0,3.0,0.0,2.3,50000.0,168200.0,235700.0,240000,No,1986,2013
1,"1832 FOX CHASE DR, GOODLETTSVILLE",SINGLE FAMILY,3.0,3.0,2.0,3.5,50000.0,264100.0,319000.0,366000,No,1998,2014
2,"1864 FOX CHASE DR, GOODLETTSVILLE",SINGLE FAMILY,4.0,3.0,0.0,2.9,50000.0,216200.0,298000.0,435000,No,1987,2016
3,"1853 FOX CHASE DR, GOODLETTSVILLE",SINGLE FAMILY,3.0,3.0,0.0,2.6,50000.0,147300.0,197300.0,255000,No,1985,2016
4,"1829 FOX CHASE DR, GOODLETTSVILLE",SINGLE FAMILY,4.0,3.0,0.0,2.0,50000.0,152300.0,202300.0,278000,No,1984,2014

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56477 entries, 0 to 56476
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PropertyAddress  56448 non-null  object
 1   LandUse          56477 non-null  object
 2   Bedrooms         24157 non-null  float64
 3   FullBath         24275 non-null  float64
 4   HalfBath         24144 non-null  float64
 5   Acreage          26015 non-null  float64
 6   LandValue        26015 non-null  float64
 7   BuildingValue    26015 non-null  float64
 8   TotalValue       26015 non-null  float64
 9   SalePrice        56477 non-null  object
 10  SoldAsVacant     56477 non-null  object
 11  YearBuilt        56477 non-null  int32
 12  SaleDate         56477 non-null  int64
dtypes: float64(7), int32(1), int64(1), object(4)
memory usage: 5.4+ MB

## Convert SalePrice to float

In [25]:
# df['SalePrice'] = df['SalePrice'].str.replace(',','').astype('float')

In [26]:
# df[df['SalePrice'] == '$120000 ']

In [27]:
df['SalePrice'] = df['SalePrice'].str.replace(' ','')

C:\Users\Jessie Nae\AppData\Local\Temp\ipykernel_21724\426259618.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SalePrice'] = df['SalePrice'].str.replace(' ','')

In [28]:
df['SalePrice'] = df['SalePrice'].str.replace('$','')

C:\Users\Jessie Nae\AppData\Local\Temp\ipykernel_21724\1253375716.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['SalePrice'] = df['SalePrice'].str.replace('$','')
C:\Users\Jessie Nae\AppData\Local\Temp\ipykernel_21724\1253375716.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SalePrice'] = df['SalePrice'].str.replace('$','')

In [29]:
# df[df['SalePrice'] == '$120000 ']

In [30]:
df['SalePrice'] = df['SalePrice'].astype('float')

ValueError: could not convert string to float: '120,000'

In [ ]:
df.info()

In [ ]:
df.head()

## Convert float to an integer

In [ ]:
df[['Bedrooms','FullBath','HalfBath']] = df[['Bedrooms','FullBath','HalfBath']].fillna(0)

In [ ]:
df.info()

In [ ]:
df[['Bedrooms','FullBath','HalfBath']] = df[['Bedrooms','FullBath','HalfBath']].astype('int')

## Learn how to have a 2decimal places float datatype!!!

In [ ]:
df.head()

In [ ]:
df['SoldAsVacant'].unique() #write a function that converts 'Y' to 'Yes' and 'N' to 'No'

In [ ]:
# Check what is wrong with the code

# def correct(syn):
#     for i in df['SoldAsVacant']:
#         if i == 'N':
#             print('No')
#         elif i == 'Y':
#             print('Yes')
#     return i

#Code enters an infinite loop,why??

In [ ]:
df['SoldAsVacant'] = df['SoldAsVacant'].replace({'Y':'Yes','N':'No'})

In [ ]:
df['SoldAsVacant'].unique()

In [ ]:
df.info()

In [ ]:
df.head()

### Q1 : Does 'Acreage' affect the 'sale price' of the property??(WHO) 
## answer... what is their relationship and what visualization would depict the meaning?

### Q2 : What is the most expensive property and why is it so??

In [ ]:
df[df['PropertyAddress'].duplicated()]['PropertyAddress']

In [ ]:
df['SalePrice'].max()['']

In [ ]:
df[df['SalePrice']==54278060.0][['PropertyAddress','LandUse','LandValue','BuildingValue','SalePrice']]

### How many properties were sold each year??
### Answer: In each unique year, I wanna know how many property was sold(in relation with 'PropertyAddress' )

In [ ]:
import matplotlib.pyplot as plt

# Understand how count and groupby works
### Verify how to plot just one column in a pandas dataframe against the groupby and count function

In [ ]:
# grouped = df.groupby('SaleDate').count()

In [ ]:
grouped.plot(kind='bar')

In [ ]:
df['LandUse'].replace({'VACANT RESIENTIAL LAND':'VACANT RESIDENTIAL LAND'},inplace=True)

In [ ]:
len(df['LandUse'].unique())

## Q4: Was there a circumstance when the 'total price' is greater than the 'sale price' of a property??

## Answer : Yes,about 6427 properties ,meaning that certain losses were incurred OR

In [ ]:
df[df['TotalValue']>df['SalePrice']]

#### Q6.. What is the difference between 'the year the property was built ' and 'the year the property was sold'??

In [ ]:
df['year_diff'] = df['SaleDate'] - df['YearBuilt']